#readAcl for package: TechXConferenceProject
#Mon Sep 23 14:57:49 GMT 2024
project.techxconference.documenttypes\:CustomerData=Anonymous
project.techxconference.documenttypes\:Shipment=Anonymous
project.techxconference.documenttypes\:SimpleOrder=Anonymous
project.techxconference.documenttypes\:Customer=Anonymous
project.techxconference.documenttypes\:Address=Anonymous
